<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div>
        <button onclick="moveMember()">회원 시스템</button>
        <button onclick="moveMoney()">머니 시스템</button>
    </div>
</body>
<script>
    function moveMember() {
        window.location = "member"
    }

    function moveMoney() {
        window.location = "money"
    }
</script>
</html>